<% puts session['spotify_user_id'] %>
<div id="form-wrap">
    <%= render "playlist_form" %>
</div>  

<% javascript_include_tag "playlist_form" %>
<% javascript_include_tag "autocomplete" %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_PLACES_API_KEY'] %>&libraries=places&callback=initAutocomplete"
        async defer></script>