/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/*$lightgreen: #76d275;*/
/*$green: #43a047;*/
/*$darkgreen: #00701a;*/
/*$lightyellow: #ffffbf;*/
/*$yellow: #ffff8d;*/
/*$darkyellow: #cacc5d;*/

body {
    margin: 0;
    /*height: 100vh;*/
    z-index: 2;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header a {
    color: #888;
}

h1 {
    margin-top: 25px;
}

.h2-wrap {
    width: 100%;
    position: relative;
    display: block;
    height: 48px;
    overflow: visible;
    margin: 0 0 15px 0;
    text-align: center;
}

h2 {
    padding: 15px 5px;
    background: #00701a;
    color: #fff;
    width: 100%;
    position: absolute;
    left: -5px;
    margin: 0;
    border-radius: 4px 4px 0 0;
}

h2::before, h2::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -10px;
    border: 5px solid;
    z-index: -1;
    border-color: #000 transparent transparent transparent;
}

h2::before {
    left: 0;
}

h2::after {
    right: 0;
}

h4 {
    margin: 10px 0;
}

.hide {
    display: none;
    opacity: 0;
}

header {
    margin: 0 auto;
    width: 60%;
    min-width: 385px;
    max-width: 700px;
    height: fit-content;
    overflow: auto;
    box-sizing: border-box;
    padding: 7px 20px;
    background: #43a047;
    /*box-shadow: 0 0 6px rgba(0,0,0,0.4);*/
    /*border-width: 0 1px 1px 1px;*/
    /*border-style: solid;*/
    /*border-color: #888;*/
    z-index: 4;
    position: relative;
}

#left-nav a, #user-nav a {
    display: inline-block;
    color: #fff;
}


#home-link, #user-nav a:first-child {
    padding: 8px 10px 8px 0;
    /*border-right: 1px solid #fff;*/
    color: #fff;
}

header a {
    transition: 0.1s transform;
}

#my-playlists-link {
    padding: 8px 0 8px 5px;
    position: relative;
}

#user-nav a {
    padding: 8px 0 8px 5px;
}

#header {
}

#user-nav {
    height: 100%;
    overflow: auto;
    float: right;
    position: relative;

}

#username, #logout, #left-nav {
    display: inline-block;
    float: left;
    position: relative;
}

#username {
    margin: 0 15px 0 0;
}

header a:hover {
    color: rgba(255, 255, 255, 0.8);
}

header a:hover img {
    /*opacity: 0.7;*/
}

header a:active {
    transform: scale(0.93,0.93);
}

.alert {
    margin: 0 auto;
    width: 100%;
    min-width: 385px;
    height: fit-content;
    overflow: auto;
    box-sizing: border-box;
    text-align: center;
}

p#notice {
    background: #ccffc8;
    padding: 8px;
    margin: 0;
    position: relative;
    z-index: 1;
}

p#alert {
    background: #ffccaa;
    padding: 8px;
    margin: 0;
    position: relative;
    z-index: 1;
}

a.btn-back {
    margin-top: 8px;
    margin-left: 35px;
    color: #444;
}

a.btn-back:hover {
    color: #000;
}



.icon-div {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin: 0 -8px;
    text-align: center;
    position: relative;
}

#trip-time-input .icon-div {
    margin: 0 -4px;
}

.icon-div img {
    filter:invert(100%);
}

img {
    /* size: 30x30 */
    display: block;
    margin: -21px auto 0;
    bottom: 0;
}

img.nav-icon {
    display: inline-block;
    /*margin-top: px;*/
    vertical-align: bottom;
    margin-right: 8px;
    filter:invert(100%);
    margin-bottom: -5px;
}

footer {
    width: 60%;
    min-width: 385px;
    max-width: 700px;
    height: fit-content;
    overflow: auto;
    box-sizing: border-box;
    padding: 11px 0;
    padding: 0;
    margin: 0 auto;
    border-radius: 0 0 4px 4px;
}

#footer-content {
    background: #444;
    color: #ffffbf;
    padding: 12px 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;

}