/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
    margin: 0;
}

h4 {
    margin: 10px 0;
}

.hide {
    display: none;
}

header {
    margin: 0 auto;
    width: 60%;
    min-width: 250px;
    max-width: 900px;
    height: fit-content;
    overflow: auto;
    box-sizing: border-box;
    padding: 15px 20px;
    background: #f9f9f9;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

#header {
}

#user-nav {
    height: 100%;
    overflow: auto;
    float: right;
}

#username, #logout, #my-playlists {
    display: inline-block;
    float: left;
}

#username {
    margin: 0 15px 0 0;
}
