// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: #444;
$grey: #888;

// $lightgreen: #dfffdf;
// $green: #bfefbf;
// $darkgreen: #7fbf7f;

$lightgreen: #76d275;
$green: #43a047;
$darkgreen: #00701a;
$lightyellow: #ffffbf;
$yellow: #ffff8d;
$darkyellow: #cacc5d;

$max-width: 700px;

#buttons-wrap {
    width: 60%;
    min-width: 336px;
    max-width: $max-width;  
    margin: 0 auto;
    display: block;
    float: clear;
}

#playlist-wrap {
    width: 60%;
    min-width: 387px;
    max-width: 700px;
    height: fit-content;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 0 20px;
    position: relative;
    background: $lightgreen;
}

#breadcrumbs {
    padding: 15px 35px;
}

#playlists-wrap {
    width: 60%;
    min-width: 387px;
    max-width: 700px;
    height: fit-content;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 0 20px;
    position: relative;
    background: $lightgreen;

    // text-align: center;
}

table {
    margin: 0 15px 30px 30px;
    padding-right: 15px;
    border-spacing: 0;
}

table a {
    color: #444;
}

table a:visited {
    color: #444;
}

table a:hover {
    color: #000;
}

iframe {
    width: 100%;
    max-width: $max-width;
    height: 600px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 30px;
}

.date {
    width: 80px;
}

tr:nth-child(2n) a {
    color: $lightyellow;
}

tr:nth-child(2n) a:hover {
    color: $yellow;
}

td {
    padding: 7px 5px;
}

td:last-child a {
    color: #c55;
}

td:last-child a:hover {
    color: $black;
}

#buttons-wrap {
    margin-top: 15px;
}

.btn-back {
    margin-left: 30px;
}