// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: #444;
$grey: #888;
$lightgreen: #dfffdf;
$green: #bfefbf;
$darkgreen: #7fbf7f;
$max-width: 700px;

#buttons-wrap {
    width: 60%;
    min-width: 325px;
    max-width: $max-width;  
    margin: 0 auto;
    display: block;
    float: clear;
}

#playlist-wrap {
    display: block;
    min-width: 325px;
    overflow: auto;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

#playlists-wrap {
    width: 60%;
    min-width: 325px;
    max-width: $max-width;
    height: fit-content;
    overflow: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px 20px;
    position: relative;
    z-index: 3;
    background: #fff;
    // text-align: center;
}

table {
    margin: 0 0 8px 15px;
    padding-right: 15px;
}

iframe {
    width: 60%;
    min-width: 325px;
    max-width: $max-width;
    height: 600px;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    box-sizing: border-box;
}

.date {
    width: 80px;
}

tr:nth-child(2n) {
    background: $lightgreen;
}

td {
    padding: 7px 5px;
}

td:last-child a {
    color: #c55;
}

td:last-child a:hover {
    color: $black;
}

h2.playlists {
    margin: 25px 0 8px;
}

#buttons-wrap {
    margin-top: 15px;
}