// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: #444;
$grey: #888;

// $lightgreen: #dfffdf;
// $green: #bfefbf;
// $darkgreen: #7fbf7f;

$lightgreen: #76d275;
$green: #43a047;
$darkgreen: #00701a;
$lightyellow: #ffffbf;
$yellow: #ffff8d;
$darkyellow: #cacc5d;

$max-width: 700px;

#buttons-wrap {
    width: 60%;
    min-width: 385px;
    max-width: $max-width;  
    margin: 0 auto;
    display: block;
    float: clear;
}

#playlist-wrap {
    height: fit-content;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    background: $lightgreen;
    line-height: 10px;
}

#breadcrumbs {
    padding: 15px 35px;
    line-height: 14px;
}

#playlists-wrap {
    box-sizing: border-box;
    padding: 0 0 20px;
    position: relative;
    background: $lightgreen;

    // text-align: center;
}

table {
    margin: 0 20px 30px 20px;
    border-spacing: 0;
    width: calc(100% - 40px);
}

table a {
    color: #444;
}

table a:visited {
    color: #444;
}

table a:hover {
    color: #000;
}

iframe {
    width: 100%;
    max-width: $max-width;
    height: 600px;
    box-sizing: border-box;
    position: relative;
    // margin-bottom: 30px;
}

.date {
    width: 80px;
}

tr:nth-child(2n) a {
    color: $lightyellow;
}

tr:nth-child(2n) a:hover {
    color: $yellow;
}

td {
    padding: 7px 5px 7px 0;
}

td:last-child a {
    color: #c55;
}

td:last-child a:hover {
    color: $black;
}

#buttons-wrap {
    margin-top: 15px;
}

.btn-back {
    margin-left: 30px;
}

#playlists-wrap nav {
    display: block;
    float: right;
    margin-right: 20px;
}

#playlists-wrap nav a {
    color: #444;
}

#playlists-wrap nav a:hover {
    color: #000;
}

td.delete {
    padding: 23px 0 0;
    width: 20px;
}

.delete-trash {
    filter: invert(100%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-45deg) saturate(1200%) contrast(0.4);
    transition: 0.1s scale;
    transition-timing-function: ease-in-out;
}

.delete a:hover .delete-trash {
    filter: invert(100%) grayscale(100%) brightness(20%) sepia(100%) hue-rotate(-45deg) saturate(800%) contrast(0.80) brightness(90%);
}

.delete a:active .delete-trash {
    transform: scale(0.95);
}