// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$max-width: 700px;

$black: #444;
$grey: #888;

$lightgreen: #76d275;
$green: #43a047;
$darkgreen: #00701a;
$lightyellow: #ffffbf;
$yellow: #ffff8d;
$darkyellow: #cacc5d;

#profile-wrap {
    width: 60%;
    min-width: 410px;
    max-width: $max-width;
    height: fit-content;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 0 20px;
    position: relative;
    background: $lightgreen;
}


.profile-item-name, .profile-item-value {
    display: inline-block;
    float: left;
}

.profile-item-value {
    margin: 0 0 0 15px;
}

#profile-info {
    display: block;
    padding: 0 15px;
    height: fit-content;
    overflow: auto;
}