// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: #444;
$grey: #888;


// $lightgreen: #dfffdf;
// $green: #bfefbf;
// $darkgreen: #7fbf7f;

$lightgreen: #76d275;
$green: #43a047;
$darkgreen: #00701a;
$lightyellow: #ffffbf;
$yellow: #ffff8d;
$darkyellow: #cacc5d;

a {
    text-decoration: none;
}

a:hover {
    background: none;
    color: $black;
}

form {
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 100%;
}


#form-wrap {
    margin: 0 auto;
    text-align: center;
    min-width: 385px;
    max-width: 700px;
    width: 60%;    
    position: relative;
    background: $lightgreen;
}

#form-wrap a {
    color: $grey;
    background: $lightyellow;
    padding: 5px 10px;
    border-radius: 2px;
    transition: 0.25s background, 0.25s color;
    transition-timing-function: ease-in-out;
}

#form-wrap a:hover {
    color: $black;
    background: $yellow;
}

#spotify-login-div {
    margin: 0 auto;
}

#spotify-login-div a {
    margin: -75px 0 0 -145px;
    display: inline-block;
    padding: 40px 60px;
    background: $lightgreen;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    transition: 0.3s background, 0.3s color, 0.1s transform;
    transition-timing-function: ease-in-out;
}

#spotify-login-div a:hover {
    background: $green;
    color: #fff;
}

#spotify-login-div a:active {
    transform: scale(0.95, 0.95);
}

#time-wrap {
    margin: 0 auto;
}


img#timer-img {
    margin-top: -22px;
}

#track-pool-wrap {
    margin-top: 25px;
    overflow: visible;
}

#time-wrap, #track-pool-wrap, #maps-directions, #trip-time-input {
    display: block;
    clear: both;
    padding: 0;
}

.or {
    margin: 15px auto;
    text-align: center;
}

#maps-directions-input label {
    margin-bottom: 5px;
}

#maps-directions {
    padding-top: 10px;
    box-sizing: border-box;
    overflow: visible;
    
}

#maps-directions-link {
    box-sizing: border-box;
    overflow: auto;
}

a#maps-link {
    display: inline-block;
    transition: 0.1s transform;
    transition-timing-function: ease-in-out;
}

a#maps-link:active {
    transform: scale(0.95, 0.95);
}

hr {
    display: block;
    border-style: solid;
    border-color: #ffffbf;
    border-width: 1px;
    width: 70%;
}

.or hr {
    display: inline-block;
    margin: 5px 6px;
    width: 40px;
}

.or h3 {
	margin: 0;
    padding: 0;
    display: inline-block;
    color: #ffffbf;
}

input[type=number], input[type=text] {
    padding: 3px 5px;
    margin: 0 5px;
    border-radius: 2px;
    border: 1px solid #43a047;
}

input[type=text] {
    font-size: 0.9em;
}

input[type=number] {
    width: 70px;
    border: 1px solid #43a047;
}

input:focus, input[type=number]:focus, input[type=text]:focus, select:focus {
    border: 1px solid #43a047;
    background: $lightyellow;
    outline: none;
    
}

#genre-seeds, #artist-input {
    opacity: 1;
}

#artist-input {
    margin-top: 5px;
}

#artist-input input {
    margin-top: 5px;
    padding: 3px 5px;
    border: 1px solid #43a047;
}

input[type=submit] {
    margin: 5 auto;
}

#track-pool-wrap {
    margin-bottom: 25px;
}

#track-pool-wrap label {
    display: inline-block;
    // font-size: 1.2em;
}

#artistR {
    margin: 7px 0;
}

#top-tracks, #saved-tracks, #artist-option, #genre-option {
    margin: 10px 0 0 0;
}

.genre {
    margin: 0 0 5px;
}



#submit {
    padding: 10px 15px;
    background: $yellow;
    border: 0;
    color: $black;
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2em;
    transition: 0.1s font-size, 0.1s background, 0.1s line-height;
    transition-timing-function: ease-in-out;
}

#submit:active {
    background: $lightyellow;
    font-size: 1.15em;
    line-height: 1.25em;
}

#genre-seeds select {
    padding: 3px 5px;
    border-radius: 3px;
    border: 1px solid #43a047;
}

.selected {
    // padding: 5px 10px;
    background: #ffffbf;
    color: #444;
    // transform: scale(1.22, 1.22);
    // line-height: 1.22em;
    // border: 2px solid #444;
    font-weight: bold;
    box-sizing: border-box;
}

