// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#spotify-login-div {
    margin: 0 auto;
}

#form-wrap {
    text-align: center;
    margin: 10px 0 0 0;
    min-width: 275px;
}

#time-wrap, #track-pool-wrap {
    overflow: auto;
    margin: 0 auto 10px;
}

#time-wrap, #track-pool-wrap, #maps-directions, #trip-time-input {
    display: block;
    clear: both;
    padding: 0;
}

.or {
    margin: 15px auto;
    text-align: center;
}

#maps-directions-input label {
    margin-bottom: 5px;
}

#maps-directions, #trip-time-input {

}

hr {
    display: block;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    width: 70%;
}

.or hr {
    display: inline-block;
    margin: 5px 6px;
    width: 40px;
}

.or h3 {
	margin: 0;
    padding: 0;
    display: inline-block;
    color: #ccc;
}

input[type=number], input[type=text] {
    padding: 3px 5px;
    margin: 0 5px;
    border-radius: 2px;
    border: 1px solid #aaa;
}

input[type=number] {
    width: 70px;
}

input[type=number]:focus, input[type=text]:focus {
    border: 1px solid #666;
    background: #efefff;
}

#artist-input input {
    margin-top: 5px;
}

input[type=submit] {
    margin: 5 auto;
}

#track-pool-wrap {
    margin-bottom: 25px;
}

#track-pool-wrap label {
    display: inline-block;
}

#genre-seeds {
    margin: 7px 0;
}

#top-tracks, #saved-tracks, #artist-option, #genre-option {
    margin: 10px 0 0 0;
}

.genre {
    margin: 0 0 5px;
}