// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hide {
    display: none;
}

#time-wrap {
    overflow: auto;
    width: fit-content;
    text-align: center;
}

#time-wrap, #maps-directions, #trip-time-input {
    display: block;
    clear: both;
    margin: 0 auto;
    padding: 0;
}

.or {
    margin: 15px auto;
    text-align: center;
}

#maps-directions, #trip-time-input {

}

.or hr {
    display: inline-block;
    margin: 5px 6px;
    border-width: 1px;
    width: 40px;
    border-style: solid;
    border-color: #ccc;
}

.or h3 {
	margin: 0;
    padding: 0;
    display: inline-block;
    color: #ccc;
}

input[type='submit'] {
    margin: 5 auto;
}