// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: #444;
$grey: #888;
$lightgreen: #dfffdf;
$green: #bfefbf;
$darkgreen: #7fbf7f;

a {
    text-decoration: none;

    }

a:hover {
    background: none;
    color: $black;
}

#form-wrap a {
    color: $grey;
    background: $lightgreen;
    padding: 5px 10px;
    border-radius: 2px;
    transition: 0.3s background, 0.3s color;
}

#form-wrap a:hover {
    color: $black;
    background: $green;
}

#spotify-login-div {
    margin: 0 auto;
}

#spotify-login-div a {
    margin: -75px 0 0 -145px;
    display: inline-block;
    padding: 40px 60px;
    background: $lightgreen;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 4px;
    color: #888;
    transition: 0.3s background, 0.3s color;
}

#spotify-login-div a:hover {
    background: $green;
    color: #444;
}

#form-wrap {
    margin: 0 auto;
    text-align: center;
    min-width: 387px;
    max-width: 700px;
    width: 60%;
    position: relative;
    z-index: 3;
    background: #fff;
}

#time-wrap, #track-pool-wrap {
    overflow: visible;
    margin: 0 auto 10px;
}

#time-wrap, #track-pool-wrap, #maps-directions, #trip-time-input {
    display: block;
    clear: both;
    padding: 0;
}

.or {
    margin: 15px auto;
    text-align: center;
}

#maps-directions-input label {
    margin-bottom: 5px;
}

#maps-directions, #trip-time-input {

}

hr {
    display: block;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    width: 70%;
}

.or hr {
    display: inline-block;
    margin: 5px 6px;
    width: 40px;
}

.or h3 {
	margin: 0;
    padding: 0;
    display: inline-block;
    color: #ccc;
}

input[type=number], input[type=text] {
    padding: 3px 5px;
    margin: 0 5px;
    border-radius: 2px;
    border: 1px solid #aaa;
}

input[type=number] {
    width: 70px;
}

input[type=number]:focus, input[type=text]:focus {
    border: 1px solid #666;
    background: $lightgreen;
}

#artist-input input {
    margin-top: 5px;
}

input[type=submit] {
    margin: 5 auto;
}

#track-pool-wrap {
    margin-bottom: 25px;
}

#track-pool-wrap label {
    display: inline-block;
}

#artistR {
    margin: 7px 0;
}

#top-tracks, #saved-tracks, #artist-option, #genre-option {
    margin: 10px 0 0 0;
}

.genre {
    margin: 0 0 5px;
}

#submit {
    padding: 10px 15px;
    background: linear-gradient($lightgreen, $green);
    border: 2px solid $lightgreen;
    color: $black;
}

#submit:active {
    background: $green;
}

.selected {
    padding: 5px 10px;
    background: #444;
    color: #bfefbf;
    transform: scale(1.22, 1.22);
    line-height: 1.22em;
}