<div id="playlists-wrap">
  <div class="h2-wrap">
    <h2 class="playlists">Playlists</h2>
  </div>
  
  <%= react_component("Playlists", {playlists: @playlists, trash: asset_path("trash-b-s.png")}, {prerender: true}) %>
  
  <%= paginate @playlists %>
  
  <%= link_to 'Back', root_path, class: "btn-back" %>
  
</div>


