<div id="playlists-wrap">
  <div class="h2-wrap">
    <h2>Playlist Time</h2>
  </div>
  <%= react_component "Playlists", {playlists: @playlists, trashcan: asset_path('trash-b.png')}, {prerender: true} %>
  
  <%= paginate @playlists %>
  
  <%= link_to 'Back', root_path, class: "btn-back" %>
  
</div>