<div id="playlist-wrap">
    <div id="breadcrumbs">
        <%= link_to "Home", root_path %> > <%= link_to "My Playlists", playlists_path %> > <b><%= @playlist.title %></b><br>
    </div>
    <iframe src="https://open.spotify.com/embed?uri=<%= @playlist.uri %>" frameborder="0" allowtransparency="true"></iframe>
</div>


